body {
    background-color: aliceblue;
    margin: 0;
}
nav {
    background-color: #005561 ;
    border-bottom-style: solid;
    border-color: #008fa3 ;
    padding: 5px;
    margin: 0 0 0 0;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    background-image: url("images/design.png");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: right;

}
div.header {
    color: white;
    font-family: "Baskervville SC";
    font-weight: 500;
    font-size: 100;
    
}
div.divider { 
    width: 20px;
    height: 50px;
    transform: skew(-29deg);
    background: aliceblue;
}
div.contact {
    font-family: "Baskervville SC";
    font-weight: 500;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.listlink {
    color: black;
    font-family: "Times";
    font-weight: bold;
    margin: 0;
}
footer {
    background-color: #005561;
    padding: 18px;
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
}
span {
    color: white;
}
a {
    color: white;
    text-decoration: none;
    font-family: "Baskervville SC";
    font-weight: 500;
    margin: 0 5px 0 5px;
}

.splash {
    background-color: #005561;
    /*border-radius: 10px;*/
}

.splash-header {
    color: white;
    font-family: "Baskervville SC";
    font-weight: 500;
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 0;
}
.splash-headshot {
    border-radius: 20px;
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-style: groove;
    border-width: 5px;
    border-color: #00A3AD;*/
    display: block; 
    margin: auto;
}
.splash-address {
    display: flex;
    justify-content: center;
    text-decoration-line: overline;
    text-decoration-color: #008fa3;
    color: white;
}
.splash-tagline {
    font-family: "Baskervville SC";
    font-weight: 500;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: white;
    margin: 4ex;
    font-style: italic;
    align-items: center;
}

hr {
    border-style: solid;
    border-color: #D6D2C4;
}

h2 {
    color: #005561;
    font-family: "Baskervville SC";
    font-weight: 500;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.education {
    text-align: center;
}

dl {
    display: grid; 
    grid-template-columns: auto auto;
    justify-content: center;
}

dl dt {
    font-weight: bold;
}
.courses {
    list-style-type: square;
    text-align: center;
}
.courses li::marker {
    color: #BA0C2F;
}
.skills {
    list-style-type: square;
    text-align: center;
}
.skills li::marker {
    color: #BA0C2F;
}
.experience {
    display: grid; 
    grid-template-columns: auto auto;
    justify-content: center;
}

a {
    color: white;
}

a:hover {
    color: #00A3AD;
}

.three-col {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    column-gap: 60px;
    
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 15px;
}

.card:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 16px;
}

.one-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.one-col label {
    margin-bottom: 10px;
}
.one-col input {
    margin-bottom: 10px;
    width: 50%;
}
.one-col textarea {
    margin-bottom: 10px;
    width: 50%;
}

.one-col input[type="submit"] {
    background-color: #005561;
    color: white;
    width: 25%;
}

.one-col input[type="submit"]:hover {
    background-color: #BA0C2F;
}

h1 {
    color: #005561;
    font-family: "Baskervville SC";
    font-weight: 500;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.splash-address2 {
    color: #005561;
    display: flex;
    justify-content: center;
    margin: 0;
}

.person-card {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 15px;
    display: block;
    background-image: url("images/cardbackground.png");
    /*Image from pngtree.com*/
    background-size: 200%;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    margin: 20px;
    text-align: center;
}
.person-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }
 .person-headshot {
    border-radius: 50%;
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-style: groove;
    border-width: 5px;
    border-color: #00A3AD;*/
    display: block; 
    margin: 10px auto;
}
.card-header {
    color: black;
    font-family: "Baskervville SC";
    font-weight: 500;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 0;
}
.card-address {
    display: flex;
    justify-content: center;
    color: black;
    flex-wrap: wrap-reverse;
}

.splashgrid {
    display: grid; 
    grid-template-columns: 250px 4fr;
}